* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar {
  display: flex;
  padding-inline: 20px; /* fixed for mobile */
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.navbar .left p {
  color: rgb(108, 71, 230);
  font-weight: 700;
}

.navbar .right {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.navbar .right a {
  text-decoration: none;
  color: rgb(99, 99, 99);
}

.navbar .right .sign-up {
  background-color: rgb(108, 71, 230);
  color: white;
  width: max-content;
  padding: 8px;
  border-radius: 6px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.header .top-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .mid-head {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.header .mid-head h1 {
  color: rgb(59, 59, 59);
  width: max-content;
}

.header .mid-head p {
  color: rgb(99, 99, 99);
}

.header .mid-head a {
  background-color: rgb(108, 71, 230);
  color: white;
  width: max-content;
  padding: 8px 30px;
  border-radius: 6px;
  text-decoration: none;
}

.bottom-head {
  padding-top: 30px;
  display: flex;
  gap: 20px; /* fixed */
}

.bottom-head div i {
  color: rgb(130, 130, 130);
}

.last-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 140px;
}

.last-left {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
}

.client,
.servers,
.feedback {
  display: flex;
  column-gap: 15px;
}

.text {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

/* landing page */
.landing-page {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
}

.top-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.top-mid p,
.right-mid p {
  color: rgb(99, 99, 99);
}

.top-mid h1,
.right-mid h3 {
  color: rgb(59, 59, 59);
}

.mid-mid,
.mid-last {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.left-mid img {
  border-radius: 50px;
}

.right-mid {
  width: 250px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.mid-mid a,
.mid-last a {
  color: rgb(134, 167, 255);
  text-underline-offset: 5px;
  font-weight: 600;
}

/* data section */
.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  padding-top: 50px;
  background-color: rgb(237, 242, 255);
  margin-top: 30px;
  padding-bottom: 50px;
}

.top-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-inline: 150px;
  gap: 50px;
}

.full {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}

.full i {
  display: flex;
  background-color: rgb(233, 221, 255);
  color: rgb(44, 44, 74);
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* boost section */
.boost {
  background-color: blueviolet;
  height: 55vh;
  text-align: center;
  color: white;
}

.bossttop {
  padding-top: 70px;
}

.bossttop p {
  padding-bottom: 80px;
  padding-top: 10px;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px; /* fixed */
  padding-bottom: 60px;
}

/* footer */
.footer {
  background-color: rgb(222, 222, 222);
  height: 40vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.footer-signin {
  /* fixed class name */
  width: 50%;
  text-align: left;
}

.final-button {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button2 {
  background-color: rgb(108, 71, 230);
  color: white;
  width: 250px;
  padding: 8px 30px;
  border-radius: 6px;
  margin-top: 10px;
}

.final-button input {
  width: 250px;
  padding: 8px 30px;
}

.links3 a {
  text-decoration: none;
  color: rgb(171, 160, 160);
}

.final h4 {
  color: slateblue;
}

.final {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
