* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar {
  display: flex;
  padding-inline: 150px;
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.navbar .left p {
  color: rgb(108, 71, 230);
  font-weight: 700;
}

.navbar .right {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.navbar .right a {
  text-decoration: none;
  color: rgb(99, 99, 99);
}

.navbar .right .sign-up {
  background-color: rgb(108, 71, 230);
  color: white;
  width: max-content;
  padding: 8px;
  border-radius: 6px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.header .top-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .mid-head {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.header .mid-head h1 {
  color: rgb(59, 59, 59);
  width: max-content;
}

.header .mid-head p {
  color: rgb(99, 99, 99);
}

.header .mid-head a {
  background-color: rgb(108, 71, 230);
  color: white;
  width: max-content;
  padding: 8px;
  padding-inline: 30px;
  border-radius: 6px;
  text-decoration: none;
}

.bottom-head {
  padding-top: 30px;
  display: flex;
  gap: 50px;
}

.bottom-head div i {
  color: rgb(130, 130, 130);
}

/*landing page css dial anwar*/
.landing-page {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
}
.top-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.top-mid p,
.right-mid p , p{
  color: rgb(99, 99, 99);
}

.top-mid h1,
.right-mid h3
, h4{
  color: rgb(59, 59, 59);
}

.mid-mid,
.mid-last {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.left-mid img {
  border-radius: 50px;
}

.right-mid {
  width: 250px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.mid-mid a,
.mid-last a {
  color: rgb(134, 167, 255);
  text-underline-offset: 5px;
  font-weight: 600;
}

.part1 {
  margin-top: 50px;
  background-color: rgb(164, 164, 164);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100%;
  gap: 80px;
}
.welcome {
  text-align: center;
  width: 700px;
}
.welcome h3 {
  padding-top: 50px;
  padding-bottom: 20px;
}
.table {
  width: 100%;
  background-color: pink;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  padding-inline: 140px;
}
.colom1,
.colom2,
.colom3,
.colom4,
.colom5,
.colom6 {
  width: 300px;
  text-align: center;
}
.colom1,
.colom2,
.colom3 i {
  padding-top: 50px;
}
.colom1 {
  column-gap: 80px;
}


.last-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 140px;
}

.last-left{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
}

.client , .servers, .feedback{
    display: flex;
    column-gap: 15px;
}

.text{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/*landing page css*/
.landing-page {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
}

.top-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.top-mid p,
.right-mid p {
  color: rgb(99, 99, 99);
}

.top-mid h1,
.right-mid h3 {
  color: rgb(59, 59, 59);
}

.mid-mid,
.mid-last {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.left-mid img {
  border-radius: 50px;
}

.right-mid {
  width: 250px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.mid-mid a,
.mid-last a {
  color: rgb(134, 167, 255);
  text-underline-offset: 5px;
  font-weight: 600;
}

/*section 2 ghita */
.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    padding-top: 50px;
}

.top-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-data{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-inline: 150px;
    gap: 50px;
}














/*boost section Ghita */
.boost {
  background-color: blueviolet;
  height: 50vh;
  text-align: center;

}

/*footer section ghita */
.footer {
  background-color: rgb(222, 222, 222);
  height: 40vh;
  text-align: center;
}
