* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar {
  display: flex;
  padding-inline: 150px;
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.navbar .left p {
  color: rgb(108, 71, 230);
  font-weight: 700;
}

.navbar .right {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.navbar .right a {
  text-decoration: none;
  color: rgb(99, 99, 99);
}

.navbar .right .sign-up {
  background-color: rgb(108, 71, 230);
  color: white;
  width: max-content;
  padding: 8px;
  border-radius: 6px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.header .top-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .mid-head {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.header .mid-head h1 {
  color: rgb(59, 59, 59);
  width: max-content;
}

.header .mid-head p {
  color: rgb(99, 99, 99);
}

.header .mid-head a {
  background-color: rgb(108, 71, 230);
  color: white;
  width: max-content;
  padding: 8px;
  padding-inline: 30px;
  border-radius: 6px;
  text-decoration: none;
}

.bottom-head {
  padding-top: 30px;
  display: flex;
  gap: 50px;
}

.bottom-head div i {
  color: rgb(130, 130, 130);
}

.part1 {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 110vh;
}
.welcome {
  text-align: center;
}
.welcome h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*landing page css*/
.landing-page{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
}
.top-mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.top-mid p , .right-mid p{
    color: rgb(99, 99, 99);
}

.top-mid h1 , .right-mid h3 {
    color: rgb(59, 59, 59);
}

.mid-mid , .mid-last{
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.left-mid img{
    border-radius: 50px;
}

.right-mid{
    width: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.mid-mid a, .mid-last a{
    color: rgb(134, 167, 255);
    text-underline-offset: 5px;
    font-weight: 600;
}
